<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.psr03951DataBaseConnectionString"
            connectionString="Data Source=DESKTOP-3Q1QMSK;Initial Catalog=psr03951DataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>